<div>
    <ul>
        <p>قوانین و مقررات این وبسایت با توجه به محتوا و ماهیت آن به شرح زیر می باشد:<br>
            <li>- هدف از ایجاد بخش انتقاد و پیشنهاد (Customer Service) و بخش طراحی سوال کمک به ارتقاء
                سطح علمی نرم افزار می باشد لذا خواهش مندیم
                در صورت علاقه مندی و داشتن مهارت و دانش کافی در این امر ما را یاری کنید
                ، قابل ذکر است در صورت نوشتن هر گونه متن و مطلبی خارج از عرف (توهین آمیز ،غیر اخلاقی)کاربر
                مورد نظر از لیست اعضا حذف می شود.<br></li>
            <li>- هر گونه کپی برداری و رعایت نکردن حقوق مالکیت معنوی و فکری منجر به پیگرد قانونی می شود. <br></li>
            <li>- تمامی سوالات طرح شده در نرم افزار دارای مرجع معتبر می باشند و کاربر محترم در صورت نیاز می تواند در بخش
                ارتباط
                با ما جهت دریافت و اطلاع از منابع سوالات پیام بگذارد.<br></li>
            <li> - هیچ فردی به جز شخص کاربر به اطلاعات مندرج در پروفایل وی دسترسی ندارد لذا عواقب هر گونه مغایرت در
                اطلاعات
                شخصی(مانند ایمیل و شماره تلفن ) بر عهده شخص کاربر می باشد.<br></li>
            <li>- باتوجه به آنلاین بودن آزمون ها وامکان وجود اختلال در اینترنت مسئولیتی در این زمینه متوجه توسعه دهندگان
                نرم
                افزار نمی باشد.<br></li>
            <li>- آزمون های انجام شده در نرم افزار صرفا جهت محک کاربر توسط وی و به گونه ای راهنمایی و هدایت فرد بر اساس
                پاسخ
                ها
                و نتایج حاصل از آن در زمینه ی مورد نظر می باشد و تیم توسعه دهنده ما در برابر عدم موفقیت فرد در آینده به
                هر
                دلیلی
                مسئولیتی متقبل نمی شود.<br></li>
            <li>- نتایج و کارنامه ی فرد صرفا جهت خروجی آزمون مورد نظر برای اطلاع کاربر صادر می شود و هیچ کاربرد و کارایی
                دیگری
                ندارد. </li>
    </ul>
</div>