<div class="div-main">
  <!-- Slider -->
  <a (click)="checkLogIn()">
    <div class="div-slider">
      <img id="mySlide" src='assets/images/0.jpg'>
      <div class="div-button">
        <button mat-stroked-button color="primary">C++</button>
        <button mat-stroked-button color="primary">C#</button>
        <button mat-stroked-button color="primary">Python</button>
        <button mat-stroked-button color="primary">Php</button>
        <button mat-stroked-button color="primary">JavaScript</button>
        <button mat-stroked-button color="primary">TypeScript</button>
        <button mat-stroked-button color="primary">Angular</button>
        <button mat-stroked-button color="primary">React</button>
        <button mat-stroked-button color="primary">Vue.Js</button>
        <button mat-stroked-button color="primary">Html</button>
        <button mat-stroked-button color="primary">Css</button>
        <button mat-stroked-button color="primary">MongoDB</button>
        <button mat-stroked-button color="primary">SqlServer</button>
        <button mat-stroked-button color="primary">Oracle</button>
      </div>
    </div>
  </a>
  <div class="div-right">
    <img src="assets/images/exam.jpg" class="img-right">
    <h2> Online Prpgraming Test <br></h2>
    <h1> آزمون آنلاین برنامه نویسی<br></h1>
    <button (click)="checkLogIn()" mat-raised-button>شروع</button>
  </div>
</div>