/*#regionmobile*/
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 254, 254);
    // min-height: calc(100vh - (20rem));
    color: purple;
    font-weight: bold;
    font-size: x-large;
    gap: 2rem;
    padding-bottom: 1rem;

    .img-right {
        width: 15rem;
        height: 12rem;
    }

    p {
        font-size: larger;
        padding: 0.5rem;
        margin: 0.5rem;
    }
}

/*#endregionmobile*/

/*#regiontablet*/
@media only screen and (min-width:47rem) {
    .div-main {
        min-height: calc(100vh - (17rem));

        .div-slider {
            align-self: center;
            max-height: 31.25rem;
            max-width: 43.5rem;
        }
    }
}

/*#endregiontablet*/

/*#regiondesktop*/
@media only screen and (min-width:60rem) {

    .div-main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }
}

/*#endregiondesktop*/