<div class="div-category">
    <div class="div-top">
        <div class="div-show">
            <a href="" routerLink="/csharp-question"><img src="assets/images/1.jpg"></a>
            <a><button routerLink="/csharp-question" mat-raised-button>C#</button></a>
        </div>
        <div class=" div-show">
            <a href="" routerLink="/javascript-question"><img src="assets/images/6.jpg"></a>
            <a><button routerLink="/javascript-question" mat-raised-button>JavaScript</button></a>
        </div>
        <div class="div-show">
            <a href="" routerLink="/css-question"><img src="assets/images/3.jpg"></a>
            <a><button routerLink="/css-question" mat-raised-button>CSS</button></a>
        </div>
        <div class="div-show">
            <a href="" routerLink="/html-question"><img src="assets/images/4.jpg"></a>
            <a><button routerLink="/html-question" mat-raised-button>HTML</button></a>
        </div>
    </div>
    <div class="div-top">
        <div class="div-show">
            <a href="" routerLink="/cplus-question"><img src="assets/images/2.jpg"></a>
            <a><button routerLink="/cplus-question" mat-raised-button>C++</button></a>
        </div>
        <div class=" div-show">
            <a href="" routerLink="/mongodb-question"><img src="assets/images/5.jpg"></a>
            <a><button routerLink="/mongodb-question" mat-raised-button>MongoDB</button></a>
        </div>
        <div class=" div-show">
            <a href="" routerLink="/sqlserver-question"><img src="assets/images/7.jpg"></a>
            <a><button routerLink="/sqlserver-question" mat-raised-button>SqlServer</button></a>
        </div>
        <div class=" div-show">
            <a href="" routerLink="/oracle-question"><img src="assets/images/8.jpg"></a>
            <a><button routerLink="/oracle-question" mat-raised-button>Oracle</button></a>
        </div>
    </div>
    <div class="div-top">
        <div class=" div-show">
            <a href="" routerLink="/python-question"><img src="assets/images/10.jpg"></a>
            <a><button routerLink="/python-question" mat-raised-button>Python</button></a>
        </div>
        <div class=" div-show">
            <a href="" routerLink="/react-question"><img src="assets/images/11.jpg"></a>
            <a><button routerLink="/react-question" mat-raised-button>React</button></a>
        </div>
        <div class=" div-show">
            <a href="" routerLink="/typescript-question"><img src="assets/images/12.jpg"></a>
            <a><button routerLink="/typescript-question" mat-raised-button>TypeScript</button></a>
        </div>
        <div class=" div-show">
            <a href="" routerLink="/vuejs-question"><img src="assets/images/13.jpg"></a>
            <a><button routerLink="/vuejs-question" mat-raised-button>Vue.Js</button></a>
        </div>
    </div>
    <div class="div-top">
        <div class="div-show">
            <a routerLink="/angular-question"><img src="assets/images/0.jpg"></a>
            <a><button routerLink="/angular-question" mat-raised-button>Angular</button></a>
        </div>
        <div class=" div-show">
            <a href="" routerLink="/php-question"><img src="assets/images/9.jpg"></a>
            <a><button routerLink="/php-question" mat-raised-button>PHP</button></a>
        </div>
    </div>
</div>