<div class="div-compare">
    <div class="div-top">
        <button routerLink="/compare-angular" mat-raised-button class="div-button ">Angular مقایسه در </button>
        <button routerLink="/compare-csharp" mat-raised-button class="div-button ">c# مقایسه در </button>
        <button routerLink="/compare-cplus" mat-raised-button class="div-button ">c++ مقایسه در </button>
        <button routerLink="/compare-css" mat-raised-button class="div-button ">css مقایسه در </button>
        <button routerLink="/compare-html" mat-raised-button class="div-button ">Html مقایسه در </button>
        <button routerLink="/compare-mongo" mat-raised-button class="div-button ">MongoDB مقایسه در </button>
        <button routerLink="/compare-javascript" mat-raised-button class="div-button ">JavaScript مقایسه در </button>
    </div>
    <div class="div-bottom">
        <button routerLink="/compare-sqlserver" mat-raised-button class="div-button ">SqlServer مقایسه در </button>
        <button routerLink="/compare-oracle" mat-raised-button class="div-button ">Oracle مقایسه در </button>
        <button routerLink="/compare-php" mat-raised-button class="div-button ">PHP مقایسه در </button>
        <button routerLink="/compare-python" mat-raised-button class="div-button ">Python مقایسه در </button>
        <button routerLink="/compare-react" mat-raised-button class="div-button ">React مقایسه در </button>
        <button routerLink="/compare-typescript" mat-raised-button class="div-button ">TypeScript مقایسه در </button>
        <button routerLink="/compare-vuejs" mat-raised-button class="div-button ">VueJs مقایسه در </button>
    </div>
</div>