<div class="div-compare">
    <div class="div-top">
        <button routerLink="/compare-angular" mat-raised-button class="div-button ">Angular نمودار </button>
        <button routerLink="/compare-csharp" mat-raised-button class="div-button ">c# نمودار</button>
        <button routerLink="/compare-cplus" mat-raised-button class="div-button ">c++ نمودار</button>
        <button routerLink="/compare-css" mat-raised-button class="div-button ">css نمودار</button>
        <button routerLink="/compare-html" mat-raised-button class="div-button ">Html نمودار</button>
        <button routerLink="/compare-mongo" mat-raised-button class="div-button ">MongoDB نمودار</button>
        <button routerLink="/compare-javascript" mat-raised-button class="div-button ">JavaScript نمودار</button>
    </div>
    <div class="div-bottom">
        <button routerLink="/compare-sqlserver" mat-raised-button class="div-button ">SqlServer نمودار</button>
        <button routerLink="/compare-oracle" mat-raised-button class="div-button ">Oracle نمودار</button>
        <button routerLink="/compare-php" mat-raised-button class="div-button ">PHP نمودار</button>
        <button routerLink="/compare-python" mat-raised-button class="div-button ">Python نمودار</button>
        <button routerLink="/compare-react" mat-raised-button class="div-button ">React نمودار</button>
        <button routerLink="/compare-typescript" mat-raised-button class="div-button ">TypeScript نمودار</button>
        <button routerLink="/compare-vuejs" mat-raised-button class="div-button ">VueJs نمودار</button>
    </div>
</div>