div {
    min-height: calc(100vh - (18.6rem));

    form {
        margin-top: 1rem;
        padding-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        // gap: 2.5rem;
        background-color: rgb(165, 172, 172);
        color: purple;

        mat-hint {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
        }

        h2 {
            background-color: rgb(139, 23, 139);
            color: black;
            padding: 0.5rem;
        }

        mat-form-field {
            min-height: 3rem;
            width: 25%;
        }

        mat-error {
            color: red;
        }

        button {
            width: 20rem;
            background-color: rgb(211, 112, 214);
            margin-top: 0.5rem;
        }

        select {
            height: 2.5rem;
        }

        input,
        textarea {
            min-height: 2.5rem;
            color: purple;
            font-size: larger;
        }

        mat-label {
            font-weight: bold;
        }
    }
}

@media only screen and (min-width:30rem) {
    div {
        min-height: calc(100vh - (15.6rem));
    }

    p {
        margin: 0;
        padding: 0;
    }
}