.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
    min-height: calc(100vh - (18.6rem));
    color: rgb(187, 11, 158);
    gap: 1rem;

    hr {
        width: 100%;
    }

    ul {
        display: flex;
        flex-direction: column;
        width: 50%;

        li {
            margin-top: 0.3rem;
        }
    }
}

@media only screen and (min-width:30rem) {
    div {
        min-height: calc(100vh - (15.6rem));
    }

    ul {
        list-style-type: none;
    }
}