<section>
    @for (member of allMembers$ | async; track $index) {
    <app-member-card [memberInput]="member" />
    }
</section>

<section>
    <div class="members">
        @for (member of members; track members;let i=$index){
        <app-member-card [memberInput]="member"></app-member-card>
        <button (click)="deleteUser(i,member.id!)" class="button" mat-fab
            title="حذف کاربر"><mat-icon>delete</mat-icon></button>
        }
    </div>
    @if (pagination && memberParams) {
    <mat-paginator #paginator (page)="handlePageEvent($event)" 
        [length]="pagination.totalItems"
        [pageSize]="memberParams.pageSize" 
        [disabled]="false" 
        [showFirstLastButtons]="true"
        [pageSizeOptions]="true ? pageSizeOptions : []" 
        [hidePageSize]="false" 
        [pageIndex]="memberParams.pageNumber - 1"
        aria-label="Select page" 
        class="paginator">
        <!-- pageIndex must start from 0 -->
    </mat-paginator>
    }
</section>