@if (users) {
<div>
    @for (user of allMembersSig(); track $index) {
    <ul>
        <hr>
        <li>Name: {{user.name}}</li>
        <li>Family: {{user.family}}</li>
        <li>Email: {{user.email}}</li>
        <li>Age: {{user.age}}</li>
        <li *ngIf="user.education">Education: {{user.education}}</li>
        <button (click)="deleteUser(user.id!)" class="button" mat-fab
            title="حذف کاربر"><mat-icon>delete</mat-icon></button>
        <!-- <hr> -->
    </ul>
    }
    <button id="gotop" (click)="goTop()" class="top"></button>
</div>
}