div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(165, 172, 172);
    width: 100%;
    min-height: calc(100vh - (18.6rem));
    color: purple;

    * {
        margin: 0;
    }

    ul {
        padding-top: 1rem;
        font-size: larger;
        font-weight: bolder;
    }

    li {
        margin-top: 0.5rem;
    }
}

@media only screen and (min-width:30rem) {
    div {
        min-height: calc(100vh - (15.6rem));
    }

    p {
        margin: 0;
        padding: 0;
    }
}