<div>
    @for (exception of apiExceptions; track $index) {
    <ul>
        <li>StatusCode:{{exception.statusCode}}</li><br>
        <li>Message:{{exception.message}}</li><br>
        <li>Details:{{exception.details}}</li><br>
        <li>Time:{{exception.time}}</li>
        <hr>
    </ul>
    }
        <button id="gotop" (click)="goTop()" class="top"></button>
</div>
@if (pagination && memberParams) {
    <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="pagination.totalItems"
        [pageSize]="memberParams.pageSize" [disabled]="false" [showFirstLastButtons]="true"
        [pageSizeOptions]="true ? pageSizeOptions : []" [hidePageSize]="false" [pageIndex]="memberParams.pageNumber - 1"
        aria-label="Select page" class="paginator">
        <!-- pageIndex must start from 0 -->
    </mat-paginator>
    }