div {
    min-height: calc(100vh - (18.6rem));

    * {
        padding: 0;
        margin: 0;
    }

    form {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        background-color: rgb(253, 253, 253);
        color: purple;

        h2 {
            background-color: rgb(139, 23, 139);
            color: black;
            padding: 0.5rem;
        }

        mat-form-field {
            height: 3rem;
            width: 25%;
        }

        mat-error {
            color: red;
        }

        input {
            height: 2.5rem;
            color: purple;
            font-size: larger;
            direction: rtl;
        }

        textarea {
            height: 4rem;
            direction: rtl;
            color: purple;
        }

        mat-label {
            font-weight: bold;
        }

        button {
            padding: 0.5rem;
        }

        .div-button {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin-top: 0.5rem;
        }

        .name {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-start;
        }
    }
}

@media only screen and (min-width:30rem) {
    div {
        min-height: calc(100vh - (15.6rem));
    }
}