<div>
    <form [formGroup]="suggestionFg">
        @if (suggestionFg.invalid) {
        <mat-hint>وارد کردن همه ی موارد الزامی می باشد</mat-hint>
        }
        <mat-form-field appearance="outline">
            <mat-label>نام و نام خانوادگی:</mat-label>
            <input autoFocusDir type="text" formControlName="fullNameCtrl" matInput>
            @if (suggestionFg.dirty) {
            <mat-error>نام و نام خانوادگی حداقل باید شامل 5 کاراکتر باشد</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>ایمیل:</mat-label>
            <input type="email" formControlName="emailCtrl" matInput>
            @if (suggestionFg.dirty) {
            <mat-error>ایمیل وارد شده صحیح نیست</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>متن :</mat-label>
            <textarea cdkTextareaAutosize type="text" formControlName="textCtrl" matInput></textarea>
            <mat-hint>{{TextCtrl.value?.length}} of 500</mat-hint>
            @if (TextCtrl.hasError('minlength')) {
            <mat-error>متن حداقل باید شامل 5 کاراکتر باشد</mat-error>
            }
            @if (TextCtrl.hasError('maxlength')) {
            <mat-error>
                متن حداکثر باید شامل 500 کاراکتر باشد
            </mat-error>
            }
        </mat-form-field>
        <section class="div-button">
            <button (click)="addSuggestion()" [disabled]="suggestionFg.invalid" mat-raised-button color="primary">ثبت
            </button>
            <button routerLink="/user-profile" mat-raised-button color="primary">بازگشت به پروفایل</button>
        </section>
    </form>
</div>