<div>
    @if (userRes) {
    <div class="div-info">
        <section class="top">
            @if (loggedInUserSig && loggedInUserSig(); as user) {
            <button class="photo">
            <!-- <span>{{user.knownAs[0] | titlecase}}</span> Use span to not have padding/margin -->
            @if(user.profilePhotoUrl) {
            <img class="top-avatar" ngSrc="{{photoUrl + user.profilePhotoUrl}}" width="90" height="90"
                alt="{{user.name[0]}}">
            <!-- // localhost:5000/storage/photo/sldkfjlsj92374.web -->
            }
            @else {
            {{user.name[0] | titlecase}}
            }
            </button>
            <button class="my-button" routerLink="/user-photo-edit" title="ویرایش عکس">
                <mat-icon>edit</mat-icon>ویرایش عکس
            </button>
            }
        </section>
        <hr>
        <!-- <h4>مشخصات کاربر</h4> -->
        <!-- <h4>----------------------------------</h4> -->
        <h4>نام : {{userRes.name}}</h4>
        <h4>نام خانوادگی : {{userRes.family}}</h4>
        <h4>ایمیل : {{userRes.email}}</h4>
        <!-- <h4>رمز عبور : {{userRes.password}}</h4> -->
        <h4>سن : {{userRes.age}}</h4>
        @if (userRes.education) {
        <h4> تحصیلات : {{userRes.education}}</h4>
        }
        <button class="button-down" routerLink="/edit" mat-raised-button color="warn">ویرایش اطلاعات</button>
        <button class="button-down" (click)="logOut()" mat-raised-button color="warn">خروج</button>
    </div>
    }
    <button routerLink="/test-category" mat-raised-button color="warn" class="div-button">شروع</button>
    <button routerLink="/result" mat-raised-button color="warn" class="div-button">مشاهده کارنامه ها</button>
    <button routerLink="/suggestion" mat-raised-button color="warn" class="div-button">نظر و انتقاد و پیشنهاد</button>
    <button routerLink="/create-question" mat-raised-button color="warn" class="div-button">طراحی سوال</button>
    <button routerLink="/correct-answer" mat-raised-button color="warn" class="div-button">جوابهای صحیح</button>
    <button routerLink="/compare" mat-raised-button color="warn" class="div-button">مقایسه خود با دیگران</button>
</div>