<div>
    <ng-container>
        <div class="top1">
            <button id="start" mat-raised-button (click)="showCplusQuestion()">شروع آزمون</button>
            <p id="text">با فشردن دکمه شروع زمان آزمون برای شما محاسبه می شود وبا فشردن دکمه پایان زمان متوقف می شود</p>
            <button id="back" routerLink="/test-category" mat-raised-button> بازگشت به دسته بندی</button>
        </div>
    </ng-container>
    @if (cplusQuestions) {
    <div class="div-question">
        @for (question of cplusQuestions; track $index) {
        <ul *ngFor="let question of  cplusQuestions,l">
            <li>سوال:{{question.numberQuestion}}</li>
            <li>{{question.descriptionQuestion}}</li>
            <li>
                <mat-radio-group id="c++" name={{question.numberQuestion}}>
                    <mat-radio-button value="1">{{question.option1}}</mat-radio-button>
                    <mat-radio-button value="2">{{question.option2}}</mat-radio-button>
                    <mat-radio-button value="3">{{question.option3}}</mat-radio-button>
                    <mat-radio-button value="4">{{question.option4}}</mat-radio-button>
                </mat-radio-group>
            </li>
        </ul>
    }
        <button id="gotop" (click)="goTop()" class="top"></button>
    </div>
}
    <div class="bottom">
        <button class="button-end" id="end" mat-raised-button hidden="true"
            (click)="calcTime();calcResultCplus();addResult()">پایان
            آزمون</button>
        <button routerLink="/show-result" id="result" mat-raised-button hidden="true">نمایش
            کارنامه</button>
    </div>
</div>