form {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: rgb(253, 253, 253);
    color: purple;

    h3 {
        margin: 0;
        padding: 0;
        direction: rtl;
    }

    mat-form-field {
        // height: 3rem;
        width: 25%;
    }

    select {
        height: 1.5rem;
    }

    input {
        height: 1.5rem;
        color: purple;
        font-size: larger;
    }

    mat-label {
        font-weight: bold;
    }

    mat-checkbox {
        background-color: purple;
        color: black;
        font-weight: bold;
    }

    a {
        color: rgb(238, 236, 236);
        font-size: small;
    }

    .div-button {
        display: flex;
        flex-direction: row-reverse;
        gap: 0.5rem;
    }
}