<form [formGroup]="userFg" (ngSubmit)="registerUser()">
    @if (userFg.invalid) {
    <mat-hint>وارد کردن موارد ستاره دار(*)الزامی می باشد</mat-hint>
    }
    <mat-form-field appearance="outline">
        <mat-label>نام:</mat-label>
        <input autoFocusDir type="text" formControlName="nameCtrl" matInput>
        @if (NameCtrl.dirty) {
        <mat-error>نام حداقل باید شامل 2 کاراکتر باشد</mat-error>
        }
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>نام خانوادگی:</mat-label>
        <input type="text" formControlName="familyCtrl" matInput>
        @if (FamilyCtrl.dirty) {
        <mat-error>نام خانوادگی حداقل باید شامل 2 کاراکتر باشد</mat-error>
        }
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>ایمیل</mat-label>
        <input type="text" formControlName="emailCtrl" matInput>
        @if (EmailCtrl.hasError('required')) {
        <mat-error> وارد کردن ایمیل اجباری است</mat-error>
        }
        @else if (EmailCtrl.hasError('pattern')) {
        <mat-error>لطفا یک ایمیل صحیح وارد کنید</mat-error>
        }
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline">
        <mat-label>رمزعبور</mat-label>
        <input type="password" formControlName="passwordCtrl" label="Password" placeHolder="Your password" matInput>
        @if (PasswordCtrl.hasError('required')) {
        <mat-error>وارد کردن رمز عبور الزامی است</mat-error>
        }
        @else if (PasswordCtrl.errors && PasswordCtrl.hasError('minlength')) {
        <mat-error>حداقل طول رمز عبور می بایست: {{PasswordCtrl.errors['minlength'].requiredLength}} کاراکتر باشد
            .</mat-error>
        }
        @else if(PasswordCtrl.errors && PasswordCtrl.hasError('maxlength')) {
        <mat-error>حداکثر طول رمز عبور می بایست: {{PasswordCtrl.errors['maxlength'].requiredLength}} کاراکتر
            باشد</mat-error>
        }
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="outline">
        <mat-label> تکرار رمزعبور</mat-label>
        <input type="password" formControlName="confirmPasswordCtrl" label="Confirm Password"
            placeHolder="Re-enter password" matInput>
        @if (ConfirmPasswordCtrl.hasError('required')) {
        <mat-error>وارد کردن تکرار رمز عبور الزامی است</mat-error>
        }
        @else if (ConfirmPasswordCtrl.errors && ConfirmPasswordCtrl.hasError('minlength'))
        {
        <mat-error>حداقل طول تکرار رمز عبور می بایست:{{ConfirmPasswordCtrl.errors['minlength'].requiredLength}} کاراکتر
            باشد</mat-error>
        }
        @else if(ConfirmPasswordCtrl.errors && ConfirmPasswordCtrl.hasError('maxlength')) {
        <mat-error>حداکثر طول تکرار رمز عبور می بایست: {{ConfirmPasswordCtrl.errors['maxlength'].requiredLength}}
            کاراکتر باشد</mat-error>
        }
    </mat-form-field>

    <!-- Date of Birth -->
    <mat-form-field appearance="outline">
        <mat-label>تاریخ تولد:</mat-label>
        <input formControlName="dateOfBirthCtrl" [min]="minDate" [max]="maxDate" matInput [matDatepicker]="dp3"
            placeholder="تاریخ تولد خود را وارد کنید">
        @if (DateOfBirthCtrl.invalid) {
        <mat-hint>بین {{minDate.getFullYear()}} تا {{maxDate.getFullYear()}}</mat-hint>
        }
        <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 touchUi disabled="false"></mat-datepicker>
        @if (DateOfBirthCtrl.hasError('required')) {
        <mat-error>وارد کردن تاریخ تولد الزامی است</mat-error>
        }
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>تحصیلات:</mat-label>
        <select matNativeControl formControlName="educationCtrl">
            <option value="دانش آموز">دانش آموز</option>
            <option value="دیپلم">دیپلم</option>
            <option value="فوق دیپلم">فوق دیپلم</option>
            <option value="لیسانس">لیسانس</option>
            <option value="فوق لیسانس">فوق لیسانس</option>
            <option value="دکترا">دکترا</option>
            <option value="PH.D">PH.D</option>
        </select>
    </mat-form-field>
    <mat-checkbox formControlName="rulesCtrl" [labelPosition]="'before'">
        .با <a routerLink="/terms-and-conditions"> قوانین و مقررات</a> سایت موافق هستم
    </mat-checkbox>
    <h3>{{myText}}</h3>
    <div class="div-button">
        <button type="submit" [disabled]="userFg.invalid" mat-raised-button color="primary">ثبت
            اطلاعات</button>
        <button routerLink="/login" mat-raised-button color="primary">ورود به پروفایل</button>
    </div>
    <mat-error>{{showError}}</mat-error>
</form>