div {
    min-height: calc(100vh - (15.6rem));
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 221, 221);
    gap: 1rem;
    margin: 0;
    padding: 0;
    direction: rtl;
    margin-bottom: 0.5rem;
}