div {
    min-height: calc(100vh - (15.6rem));
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 249, 249);
    gap: 1rem;
    margin: 0;
    padding: 0;
    direction: rtl;
}