div {
    min-height: calc(100vh - (18.6rem));
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 249, 249);
    color: purple;
    gap: 1rem;
    margin: 0;
    padding: 0;
    direction: rtl;

    mat-icon {
        margin-top: 3rem;
    }
}

@media only screen and (min-width:30rem) {
    div {
        min-height: calc(100vh - (15.6rem));
    }

    p {
        margin: 0;
        padding: 0;
    }
}