<div>
    <button routerLink="/list-questions" mat-raised-button color="warn">لیست سوالات</button>
    <button routerLink="/list-users" mat-raised-button color="warn">لیست کاربران</button>
    <button routerLink="/list-suggestions" mat-raised-button color="warn">لیست نظرات و انتقادات و پیشنهادات</button>
    <button routerLink="/list-userquestions" mat-raised-button color="warn">لیست سوالات طراحی شده توسط کاربران</button>
    <button (click)="adminLogOut()" mat-raised-button color="warn">خروج</button>
</div>