<div>
    <form [formGroup]="userFg">
        <h2>ورود کاربر</h2>
        <mat-form-field appearance="outline">
            <mat-label>ایمیل</mat-label>
            <input type="text" formControlName="emailCtrl" matInput>
            <mat-error *ngIf="userFg.dirty">لطفا یک ایمیل صحیح وارد کنید</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>رمزعبور</mat-label>
            <input type="text" formControlName="passwordCtrl" matInput>
            <mat-error *ngIf="userFg.dirty">حداقل 8 کاراکتر</mat-error>
        </mat-form-field>
        <div class="div-button">
            <button mat-raised-button (click)="logInUser()" [disabled]="userFg.invalid" color="warn">ورود</button>
            <button routerLink="/sign-up" mat-raised-button color="warn">ثبت نام</button>
        </div>
    </form>
</div>